{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 contacts-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  
  <div class="container anchor p-lg-5 contacts-section" id="{{ $sectionID }}">
    <div class="row pt-sm-2 pt-md-4 align-self-center">
        <div class="col-sm-4 left-side">
            <div class="details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Address</div>
                <div class="text-one">{{ .address.location }}</div>
                <div class="text-two">{{ .address.country }}</div>
              </div>
              <div class="details">
                <i class="fas fa-phone-alt"></i>
                <div class="topic">Phone</div>
                <div class="text-one">{{ .phone }}</div>
              </div>
              <div class="details">
                <i class="fas fa-envelope"></i>
                <div class="topic">Email</div>
                <div class="text-one">{{ .email }}</div>
              </div>
        </div>
        <div class="col-sm-8 right-side">
            <form action="https://formspree.io/f/xbjwvjlp"
            method="POST">
                <div class="input-box">
                  <input type="text" placeholder="Enter your name" name="name">
                </div>
                <div class="input-box">
                  <input type="text" placeholder="Enter your email" name="email">
                </div>
                <div class="input-box message-box">
                  <textarea placeholder="Enter your message" name="message"></textarea>
                </div>
                <div class="button-div">
                  <button class="button" type="submit"> Send Now </button>
                </div>
              </form>
        </div>
    </div>
  </div>
</div>
